/* INIZIALIZZAZIONE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* HELPER */
.border {
  border: 1px solid black;
}
/* GENERAL */
div.big-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 1100px;
  background: linear-gradient(to top, #DADBD3 85%, #009688 15%);
  background-repeat: no-repeat;
}
main.container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  min-width: 1100px;
}
/* COLS */
section.col-left {
  width: 35%;
}
section.col-right {
  width: 65%;
  border-left: 1px solid #D6D6D6;
}
/* COL-LEFT -> ROWS */
section.col-left section.user {
  height: 70px;
  background-color: #EAEAEA;
}
section.col-left section.notifications {
  display: flex;
  flex-direction: row;
  background-color: #8ED9FC;
}
section.col-left section.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
}
section.col-left section.contacts {
  height: calc(96vh - 205px);
  background-color: #FFFFFF;
}
/* COL-RIGHT -> ROWS */
section.col-right section.current-contact {
  height: 70px;
  background-color: #EAEAEA;
}
section.col-right section.current-chat {
  height: calc(96vh - 140px);
  background-image: url("../img/mine.jpg");
}
section.col-right section.writing {
  display: flex;
  flex-direction: row;
  background-color: #F3EEE9;
}
/* COL-LEFT -> ROWS -> USER */

/* COL-LEFT -> ROWS -> NOTIFICATIONS */
section.col-left section.notifications div.left, section.col-left section.notifications div.right {
  display: flex;
  height: 90px;
}
section.col-left section.notifications div.left {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
}
section.col-left section.notifications div.right {
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
section.col-left section.notifications div.left i {
  font-size: 20px;
  line-height: 26px;
  border-radius: 50%;
  padding: 15px;
  color: #8ED9FC;
  background-color: #FFFFFF;
}
section.col-left section.notifications div.right span {
  font-weight: 600;
}
section.col-left section.notifications div.right a {
  margin-top: 5px;
  color: #507485;
}
/* COL-LEFT -> ROWS -> SEARCH */
section.col-left section.search div.sub-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  margin: 5px auto;
  width: 90%;
  background-color: #FFFFFF;
  border: 0.5px solid #F5F5F5;
}
section.col-left section.search div.sub-search i {
  margin-left: 10px;
  margin-right: 25px;
  color: #B7B9BB;
}
section.col-left section.search div.sub-search input {
  height: 35px;
  width: 300px;
  border: none;
  outline: none !important;
}
/* COL-LEFT -> ROWS -> CONTACTS */

/* COL-RIGHT -> ROWS -> CURRENT-CONTACT */

/* COL-RIGHT -> ROWS -> CURRENT-CHAT */

/* COL-RIGHT -> ROWS -> WRITING */
section.col-right section.writing div.smile, section.col-right section.writing div.input-text, section.col-right section.writing div.audio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
}
section.col-right section.writing div.smile,  section.col-right section.writing div.audio {
  width: 70px;
}
section.col-right section.writing div.input-text {
  width: calc(100% - 140px);
}
section.col-right section.writing div.smile i, section.col-right section.writing div.audio i {
  font-size: 26px;
  color: #6A7376;
}
section.col-right section.writing div.smile i:hover, section.col-right section.writing div.audio i:hover {
  cursor: pointer;
}
section.col-right section.writing div.input-text input {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none !important;
}
