/* INIZIALIZZAZIONE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* HELPER */
.border {
  border: 1px solid black;
}
.background-lightgreen {
  background-color: lightgreen;
}
.background-green {
  background-color: green;
}
.background-lightblue {
  background-color: lightblue;
}
.background-blue {
  background-color: blue;
}
.background-yellow {
  background-color: yellow;
}
.background-orange {
  background-color: orange;
}
.background-red {
  background-color: red;
}
/* GENERAL */
div.big-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 800px;
  background: linear-gradient(to top, #DADBD3 85%, #009688 15%);
  background-repeat: no-repeat;
}
main.container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  min-width: 800px;
}
/* COLS */
section.col-left, section.col-right {
  height: 96vh;
}
section.col-left {
  width: 35%;
}
section.col-right {
  width: 65%;
}
/* COL-LEFT -> ROWS */
section.col-left section.user {
  height: 70px;
}
section.col-left section.notifications {
  height: 90px;
}
section.col-left section.search {
  height: 45px;
}
section.col-left section.contacts {
  height: calc(96vh - 205px);
}
/* COL-RIGHT -> ROWS */
section.col-right section.corrent-contact , section.col-right section.writing {
  height: 70px;
}
section.col-right section.corrent-chat {
  height: calc(96vh - 140px);
}
